@use "common/sass/styles/fonts.module.scss" as *;
@use "common/sass/styles/colors.module.scss" as *;
@use "common/sass/styles/base-style-and-scale.module.scss" as *;
@use "common/sass/styles/_variables.scss" as var;

.mainSideBar {
  display: flex;
  overflow: hidden;
  background: $white;
  min-height: calc(100vh - 60px);
  font-weight: 500;
  padding: 0;
  z-index: 11;

  &.sideBarIconOnly {
    .nav {
      margin-left: 0px;
      margin-right: 0px;
      width: 70px;
    }

    .nav > a {
      justify-content: center;
      padding-left: 0px;
      padding-right: 0px;
      svg {
        margin: 0px;
      }
    }
    .nav > a:hover,
    a:focus {
      border-radius: 0px;
    }

    .nav > a > span {
      display: none;
      padding: 0.5rem;
    }

    .active {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border-radius: 0px;
      justify-content: center;
      svg {
        margin: 0px;
      }
    }

    .menuArrow {
      display: none;
    }
  }

  .nav {
    background-color: $white;
    transition: all 400ms ease-out;
    display: flex;
    flex-flow: column nowrap;
    width: 235px;
    font-family: $base-font-family;
    font-size: $font-size-small;
    color: $grey;
    text-transform: capitalize;
    align-items: center;
    margin-top: 1.45rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .nav > * {
    display: flex;
    width: 100%;
    align-items: center;
    color: $dark-grey;

    &:first-child {
      img {
        margin: 15px 0 19px 0;
      }

      hr {
        align-self: stretch;
        border: none;
        height: 1px;
        background-color: $med-grey;
      }
    }
    .menuIcon {
      margin-right: 1rem;
    }
    .menuArrow {
      margin-left: auto;
    }
  }

  .active {
    @extend .navItem;
    background-color: $side-menu-active;
    border-radius: 8px;
    color: $white;
    .menuItemExpanded {
      transform: rotate(90deg);
      transition: all 0.2s ease-in;
    }
  }

  .nav > a:hover,
  a:focus {
    text-decoration: none;
  }

  .navItem {
    margin-top: 0.2rem;
    padding: 0.8125rem 1.937rem 0.8125rem 1rem;

    span {
      display: flex;
    }

    &:hover {
      color: $white;
      background-color: var.$btn-primary-base;
      transition: all 200ms ease-out;
      border-radius: 8px;
    }
  }

  i {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .sideBarIconOnly {
    width: 70px;
  }
}
