@use "common/sass/styles/fonts.module.scss" as fonts;
@use "common/sass/styles/colors.module.scss" as colors;
@use "common/sass/styles/base-style-and-scale.module.scss" as base;
@use "common/sass/mixins/buttons.module.scss" as buttons;
@use "common/sass/mixins/popover.module.scss" as popover;

.container {
  position: relative;
  min-width: 120px;
}
.selectContainer {
  height: 2.2em;
  background-color: colors.$ghost-grey;
  border: base.$base-border;
  border-radius: base.$base-border-radius;
  color: colors.$dark-grey;

  &:focus-within {
    border-color: base.$base-focus-border;
    box-shadow: base.$form-box-shadow-focus;
    outline: none;
    background-color: colors.$white;
  }

  &.hasError {
    border: none;
    box-shadow: 0 0 0 1px colors.$red;

    &:focus-within,
    &:hover {
      box-shadow: 0 0 0 1px colors.$red;
    }
  }

  .inputContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0.125em 0.5em 0.75em;
    line-height: 1em;
    &:focus {
      outline: 0;
    }

    .label {
      position: absolute;
      top: 12px;
      left: 10px;
      transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      text-transform: unset;
      padding: 0 5px;

      &.isFocused {
        transform: translate(-7px, -20px) scale(0.8);
        background-color: colors.$white;
      }
    }

    i,
    svg {
      margin-left: auto;
      font-size: base.$font-size-smaller;
      width: 1em;
      height: 1em;
      cursor: text;
    }

    .value {
      max-width: 220px;
      margin: 4px 8px 0 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &.hasError {
    & .inputContainer {
      label {
        color: colors.$red;
      }
    }
  }
}

.disabled {
  color: colors.$inactive-grey;
  cursor: not-allowed;
  border-color: colors.$inactive-grey;
  background-color: colors.$white;
  &:hover,
  &:focus-within {
    border-color: colors.$inactive-grey;
    box-shadow: none;
  }

  label {
    color: colors.$inactive-grey;
    cursor: not-allowed;
  }
}

.popoverContent {
  @include popover.content;
  background-color: colors.$white;
  div {
    color: colors.$dark-grey;
  }
}

div:has(> .popoverContent) {
  width: 100%;
}

.error {
  color: colors.$red;
  font-size: base.$font-size-smaller;
  margin: 5px 0 0 15px;
}
