.progressBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .currentValue {
    font-weight: 700;
    width: 10%;
  }
  progress {
    width: 55%;
  }
  label {
    text-transform: capitalize;
    width: 20%;
  }
}
