$z-base: 0;
$z-background: 900;
$z-component-spinner: 950;
$z-popover: 1000;
$z-agent-notes: 1005;
$z-payment-panel-overlay: 1030;
$z-store-messaging-disclaimer: 1035;
$z-modal-background: 1040;
$z-modal: 1050;
$z-tooltip: 1100;
$z-spinner: 1200;
$z-banner: 1500;

:export {
  zBase: $z-base;
  zBackground: $z-background;
  zPopover: $z-popover;
  zAgentNotes: $z-agent-notes;
  zPaymentPanelOverlay: $z-payment-panel-overlay;
  zStoreMessagingDisclaimer: $z-store-messaging-disclaimer;
  zModalBackground: $z-modal-background;
  zModal: $z-modal;
  zTooltip: $z-tooltip;
  zSpinner: $z-spinner;
  zBanner: $z-banner;
  zComponentSpinner: $z-component-spinner;
}
