@use "common/sass/styles/colors.module.scss" as colors;
@use "common/sass/mixins/buttons.module.scss" as buttons;

.modalForm {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 20px;
}

.modalFooter {
  padding: 0 18px 0px;
  display: flex;
  justify-content: flex-end;
  gap: 5px;

  .cancelBtn {
    @include buttons.btn;
    @include buttons.btn-close;
    margin-right: 5px;
    text-transform: capitalize;
    background-color: colors.$dark-grey;
    color: colors.$white;
  }

  .submitBtn {
    @include buttons.btn;
    text-transform: capitalize;
  }
}
