@use "common/sass/styles/colors.module.scss" as *;
@use "common/sass/styles/base-style-and-scale.module.scss" as base;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  width: 100%;
  min-width: 100%;

  &.title {
    margin-bottom: 0.5rem;
  }

  &.count {
    font-size: base.$font-size-largest;
  }

  &.tale {
    background: $card-tale;
    color: $white;
  }

  &.darkBlue {
    background: $card-dark-blue;
    color: $white;
  }

  &.lightBlue {
    background: $card-light-blue;
    color: $white;
  }

  &.lightDanger {
    background: $card-light-danger;
    color: $white;
  }

  &.white {
    background: $white;
    color: $black;
  }

  .body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }
}
