@use "common/sass/styles/colors.module.scss" as *;
@use "common/sass/styles/base-style-and-scale.module.scss" as base;

.card {
  padding: 1.25rem 1.25rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid $white;
  border-radius: 20px;
  font-size: base.$font-size-smaller;

  &.title {
    margin-bottom: 0.5rem;
  }

  &.count {
    font-size: base.$font-size-largest;
  }

  &.tale {
    background: $card-tale;
    color: $white;
  }

  &.darkBlue {
    background: $card-dark-blue;
    color: $white;
  }

  &.lightBlue {
    background: $card-light-blue;
    color: $white;
  }

  &.lightDanger {
    background: $card-light-blue;
    color: $white;
  }

  &.white {
    background: $white;
    color: $black;
  }
}