@use "common/sass/styles/colors.module.scss" as *;
@use "common/sass/styles/base-style-and-scale.module.scss" as base;

.card {
  padding: 1.25rem 1.25rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid $white;
  border-radius: 20px;
  font-size: base.$font-size-smaller;
}

.cardTitle{
  margin-bottom: 0.5rem;
}

.cardCount{
  font-size: base.$font-size-largest;
}