.title {
  margin-bottom: 1.2rem;
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3rem;
  word-wrap: break-word;
}

.description {
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  line-height: 1.3rem;
}

.body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}