@use "common/sass/styles/colors.module.scss" as *;
@use "common/sass/styles/_variables.scss" as var;

.dashboard {
  background: #f5f7ff;
  padding: 2.375rem 2.375rem;
  width: 100%;
  flex-grow: 1;

  .title {
    margin-bottom: 1.5em;
    h3 {
      margin: 0px;
    }
    .alertNotification {
      color: var.$btn-primary-base;
    }
  }

  .body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 15px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .weatherRow {
    grid-column: span 6;
  }

  .stretchCard {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
  }

  .twoColumns {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .card {
    margin-bottom: 1rem;
  }
  .marginColumn {
    margin-bottom: 2.5rem;
  }
}
