.container {
  background: #f5f7ff;
  width: 100%;
  flex-grow: 1;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.twoReportsInRow {
  display: flex;
  flex: 0 0 50%;
  max-width: 50%;
  align-items: stretch;
  justify-content: stretch;
}

.stretchCard {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}

.twoColumns {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.marginColumn {
  margin-bottom: 2.5rem;
}

.oneColumn {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
