@use "common/sass/styles/colors.module.scss" as *;

.title {
  margin-bottom: 1.2rem;
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3rem;
  word-wrap: break-word;
}

.description {
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  line-height: 1.3rem;
}

.details {
  display: flex;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  .item {
    margin-right: 3rem;
    margin-top: 1rem;
    p {
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
      line-height: 1.3rem;
      text-transform: capitalize;
      word-wrap: break-word;
      color: #737f8b;
    }
    h3 {
      font-size: 30px;
      font-weight: 600;
      color: #4b49ac;
      line-height: 1;
      text-shadow: none;
      margin-bottom: 0.5rem;
      margin-top: 0;
    }
  }
}
