@use "common/sass/styles/colors.module.scss";
@use "common/sass/styles/z-index.module.scss";

@mixin tooltip {
  position: absolute;
  visibility: hidden;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: colors.$white;
  background-color: colors.$black;
  border-radius: 6px;
  width: 100%;
  padding: 5px 5px;
  text-align: center;
  z-index: z-index.$z-tooltip;
  opacity: 0;
  transition: opacity 0.5s;
}

@mixin tooltipRightArrow {
  @include tooltip;
  top: -5px;
  right: 110%;

  &::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent colors.$black;
  }
}

@mixin tooltipTopArrow {
  @include tooltip;
  top: 150%;
  left: 50%;
  margin-left: -57px;

  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent colors.$black transparent;
  }
}

@mixin tooltipBottomArrow {
  @include tooltip;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: colors.$black transparent transparent transparent;
  }
}

@mixin tooltipLeftArrow {
  @include tooltip;
  top: -5px;
  left: 110%;

  &::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent colors.$black transparent transparent;
  }
}
