@use "common/sass/styles/fonts.module.scss" as *;
@use "common/sass/styles/colors.module.scss" as *;
@use "common/sass/styles/base-style-and-scale.module.scss" as *;
@use "common/sass/mixins/tooltip.module.scss" as *;
@use "common/sass/mixins/alerts.module.scss";
@use "common/sass/styles/z-index.module.scss" as z;

.topBar {
  display: flex;
  flex-direction: row;
  font-family: $base-font-family;
  font-size: $font-size-small;
  background-color: $white;
  box-shadow: 0 5px 21px -5px rgba($black, 0.2);
  z-index: z.$z-background;

  &.training {
    background-color: $orange;
  }

  &.dev,
  &.stage,
  &.local {
    background-color: $med-grey;
  }

  &.prod {
    background-color: $white;
  }

  i {
    cursor: pointer;
    position: relative;
    top: 1px;
  }

  .link {
    text-decoration: none;
    color: $white;
  }

  .innerContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 1px 10px 0px 10px;
    align-items: center;
  }

  .brand {
    display: flex;
    justify-content: center;
    width: 230px;
    height: 60px;
    text-align: start;
    a {
      font-size: 1.5rem;
      margin-right: 0;
      padding: 0.25rem 0;
    }
    img {
      width: 43px;
      height: 43px;
    }
  }

  .userMenuEnvironment {
    @extend .innerContainer;
    justify-content: flex-start;
    width: calc(50% - 235px);
    height: 60px;

    > * {
      padding-right: 30px;
    }

    .sideBarMenuBtn {
      display: inline-block;
      position: relative;
      transition: transform 2s;
      transition: 0.8s;
      transform-origin: 42% 41%;
      cursor: pointer;
      border: none;
      background-color: transparent;
      padding: 1rem;
    }
  }

  .tooltipBottom {
    @include tooltipTopArrow;
  }

  .tooltipVisible {
    opacity: 1;
    visibility: visible;
    width: 1150%;
  }

  .userMenu {
    @extend .innerContainer;
    justify-content: flex-end;

    > * {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .notification {
      position: relative;
      padding: 0;
      text-align: center;
      cursor: pointer;
      svg {
        font-size: $font-size-larger;
        margin-right: 0;
        vertical-align: middle;
      }
    }

    .notificationMenuOption {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: $black;
      padding: 0px;
      span {
        color: $med-grey;
      }
    }
    .notificationMenuOption:hover,
    .notificationMenuOption:focus {
      background-color: $very-light-gray;
    }

    .notificationMenuIcon {
      position: relative;
      width: 36px;
      height: 36px;
      border-radius: 100%;
      overflow: hidden;
      vertical-align: middle;
      padding: 6px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;

      &.info {
        @include alerts.alert-variant-success;
      }
      &.warning {
        @include alerts.alert-variant-warning;
      }
      &.error {
        @include alerts.alert-variant-error;
      }
    }

    .count {
      position: absolute;
      left: 36%;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      font-size: $font-size-smaller;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -2px;
    }

    .menuBtn {
      margin: 0 1.25rem 0 0.5rem;
      button {
        background: none;
        border: none;
      }
    }

    .avatar {
      margin-left: 0.2rem;
    }
  }
}

.sideBarCollapsed {
  display: flex;
  flex-direction: row;
  .brand {
    width: 84px;
    transition: all 0.2s ease-in;
  }
  .sideBarMenuBtn {
    transform: rotate(90deg);
  }
}

.sideBarOpen {
  display: flex;
  flex-direction: row;
}
