@use "common/sass/styles/base-style-and-scale.module.scss" as base;
@use "common/sass/styles/colors.module.scss";
@use "common/sass/mixins/buttons.module.scss";
@use "common/sass/mixins/panels.module.scss";

.logo {
  max-width: 4rem;
  max-height: 4rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* vh stands for viewport height */
}

.containerFluid {
  margin: 0 auto;
  padding: 0 15px;
}

.login{
  header {
    padding-bottom: 26px;
    text-align: left;
  }

  h1 {
    text-align: left;
    line-height: 1;
    font-size: base.$font-size-base;
    font-weight: bold;  
    padding-top: 26px;
  }

  .loginPanel {
    @include panels.panel;
    width: 460px;
    margin: 0 auto;
    padding: 2rem 2rem;
    position: relative;
    border: 1px solid colors.$med-grey;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);

    .loginPanelBody {
      @include panels.panel-body;
      border-bottom: none;
      .input {
        position: relative;
      }
    }
  }
  
  .loginButton {
    @include buttons.btn;
    width: 100%;
  }

 
}

form{
  > * {
    margin-bottom: 15px;
  }
  .actions{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;

    .standardLabel{
      text-transform: capitalize;
      font-size: base.$font-size-smaller;
    }
    a{
      font-size: base.$font-size-smaller;
      text-align: right;
    }
  }
}


