@use "sass:color";

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$light-black: rgb(34, 34, 34);
$translucid-black: rgb(0 0 0 / 6%);
$ghost-grey: rgb(243, 243, 243);
$bg-grey: rgb(237, 237, 237);
$grid-bg-grey: rgb(247, 247, 246);
$bg-grey-2: #f3f3f3;
$note-blue: rgb(237, 246, 253);
$light-grey: rgb(224, 224, 224);
$very-light-grey: rgb(206, 206, 206);
$hover-grey: rgb(216, 216, 216);
$grey: rgb(204, 204, 204);
$med-grey: rgb(151, 151, 151);
$greyish-brown: rgb(74, 74, 74);
$dark-grey: rgb(112, 112, 112);
$body-grey: rgb(84, 86, 91);
$pinkish-grey: rgb(204, 204, 204);
$inactive-grey: rgb(187, 187, 187);
$red: rgb(199, 23, 23);
$dark-red: rgb(139, 0, 0);
$red-error: rgb(176, 0, 32);
$light-red: rgb(247, 220, 220);
$border-red: rgb(233, 162, 162);
$light-orange: rgb(255, 236, 217);
$orange: rgb(254, 131, 0);
$dark-orange: rgb(255, 140, 0);
$medium-light-orange: rgb(203, 105, 0);
$yellow-orange: rgb(254, 191, 0);
$bright-green: rgb(209, 239, 62);
$es-green: rgb(136, 192, 75);
$green: rgb(0, 128, 0);
$dark-green: rgb(78, 108, 46);
$strong-green: rgb(145, 199, 23);
$light-grayish-green: rgb(244, 250, 232);
$light-grayish-blue: rgb(207, 232, 250);
$light-blue: rgb(116, 193, 255);
$es-blue: rgb(15, 138, 231);
$med-blue: color.scale($es-blue, $lightness: -25%);
$dark-blue: rgb(11, 93, 155);
$light-green-hover: rgb(173, 212, 132);
$off-white: rgb(247, 251, 242);
$pale-blue: rgb(219, 237, 251);
$mostly-desaturated-dark-blue: rgb(87, 102, 117);
$menu-black: rgb(51, 51, 51);
$royal-blue: rgb(0, 102, 255);
$pale-green: rgb(244, 250, 232);
$light-green: rgb(234, 245, 225);
$breakline-gray: rgb(206, 206, 206, 1);
$dark-moderate-blue: rgb(75, 73, 172);
$dark-grayish-blue: rgb(163, 164, 165);
:export {
  white: $white;
  black: $black;
  light-black: $light-black;
  translucid-black: $translucid-black;
  ghost-grey: $ghost-grey;
  bg-grey: $bg-grey;
  bg-grey-2: $bg-grey-2;
  note-blue: $note-blue;
  light-grey: $light-grey;
  very-light-grey: $very-light-grey;
  hover-grey: $hover-grey;
  grey: $grey;
  med-grey: $med-grey;
  greyish-brown: $greyish-brown;
  dark-grey: $dark-grey;
  body-grey: $body-grey;
  pinkish-grey: $pinkish-grey;
  inactive-grey: $inactive-grey;
  red: $red;
  light-red: $light-red;
  light-orange: $light-orange;
  orange: $orange;
  yellow-orange: $yellow-orange;
  bright-green: $bright-green;
  es-green: $es-green;
  dark-green: $dark-green;
  strong-green: $strong-green;
  light-grayish-green: $light-grayish-green;
  light-blue: $light-blue;
  light-grayish-blue: $light-grayish-blue;
  es-blue: $es-blue;
  med-blue: $med-blue;
  dark-blue: $dark-blue;
  light-green-hover: $light-green-hover;
  mostly-desaturated-dark-blue: $mostly-desaturated-dark-blue;
  menu-black: $menu-black;
  pale-green: $pale-green;
  grid-bg-grey: $grid-bg-grey;
  royal-blue: $royal-blue;
  light-green: $light-green;
  breakline-gray: $breakline-gray;
  dark-red: $dark-red;
  dark-orange: $dark-orange;
  green: $green;
  medium-light-orange: $medium-light-orange;
  dark-moderate-blue:$dark-moderate-blue;
  dark-grayish-blue:$dark-grayish-blue;
}
